##############################
# ENVIRONNEMENT & SECRETS
##############################
.env 
.env.local
.env.dev
.env.test
config/secrets/*/private.key
config/secrets/*/private.pem

##############################
# DOCKER (uniquement local)
##############################
docker-compose.yml
docker-compose.override.yml
docker/
.docker/
*.dockerfile
*.Dockerfile
docker-compose*.yaml
docker-compose*.yml
docker-compose.prod.yml

##############################
# SYMFONY / PHP
##############################
laundrymap-back/var/
laundrymap-back/.env.local
laundrymap-back/.env
laundrymap-back/vendor/
/var/
/vendor/
/public/bundles/
/public/build/
/public/uploads/
/public/media/
/public/storage/
/var/cache/
/var/log/
.phpunit.result.cache

# Fichiers de config serveur — ne jamais écraser
laundrymap-back/config/bundles.php
deploy.sh
deploy-secrets.sh

##############################
# NODE / REACT
##############################
laundrymap-front/dist/
laundrymap-front/node_modules/
laundrymap-front/.env.local
laundrymap-front/.env
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
.pnpm-debug.log
/build/
/dist/

##############################
# EDITORS & SYSTEM FILES
##############################
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

##############################
# MISC
##############################
/coverage/
*.cache
laundrymap-back/public/fichiers/images/media_6a0f68b14eea77.98352636.png
laundrymap-back/public/fichiers/images/media_6a0f68b14f8bf3.50463740.png
laundrymap-back/public/fichiers/images/media_6a0f68b14f48b7.34377281.png
laundrymap-back/public/fichiers/images/media_6a11ae486fc019.71702664.png
laundrymap-back/public/fichiers/images/media_6a11ae4872d808.53174533.png
laundrymap-back/public/fichiers/images/media_6a11ae487164d1.62612579.png
laundrymap-back/public/fichiers/images/media_6a11b012260a62.00664713.png
laundrymap-back/public/fichiers/images/media_6a11b012255928.04019131.png
laundrymap-back/public/fichiers/images/media_6a11b012267857.23840299.png
laundrymap-back/public/fichiers/images/media_6a12ba8e63c476.69667845.png
laundrymap-back/public/fichiers/images/media_6a12ba8e64c023.17795290.png
laundrymap-back/public/fichiers/images/media_6a12ba8e644bd3.02513979.png
laundrymap-back/public/fichiers/images/media_6a12ba8e651ed6.33969414.png
laundrymap-back/public/fichiers/images/media_6a12ba4412e478.46810695.png
laundrymap-back/public/fichiers/images/media_6a12ba44123250.62925440.png
laundrymap-back/public/fichiers/images/media_6a12ba44133801.82459075.png
laundrymap-back/public/fichiers/images/media_6a12beda4a5cc4.85300881.png
laundrymap-back/public/fichiers/images/media_6a12beda4b1880.42004221.png
laundrymap-back/public/fichiers/images/media_6a12beda4bc290.52822099.png
laundrymap-back/public/fichiers/images/media_6a12beda4c2046.20944854.png
laundrymap-back/public/fichiers/images/media_6a12beda4c8425.07595143.png
laundrymap-back/public/fichiers/images/media_6a12beda4d18c4.91386905.png
laundrymap-back/public/fichiers/images/media_6a12beda49b5a2.24858714.png
laundrymap-back/public/fichiers/logo/linkedin-brands-solid-full.svg
laundrymap-back/public/fichiers/logo/logo_titre.png
laundrymap-back/public/fichiers/logo/logo.png
laundrymap-back/public/fichiers/logo/media_6a0f68b14c2950.29295801.png
laundrymap-back/public/fichiers/logo/media_6a11ae486e7277.33857278.png
laundrymap-back/public/fichiers/logo/media_6a11b0121f10a3.37364875.png
laundrymap-back/public/fichiers/logo/media_6a12ba8e600003.60017198.png
laundrymap-back/public/fichiers/logo/media_6a12ba441154b6.21299488.png
laundrymap-back/public/fichiers/logo/media_6a12beda4854a7.12355916.png
laundrymap-front/public/fichiers/images/media_6a05d724a84e20.13223408.png
laundrymap-front/public/fichiers/logo/linkedin-brands-solid-full.svg
laundrymap-front/public/fichiers/logo/media_6a05d724a570f9.35112123.png
