##############################
# ENVIRONNEMENT & SECRETS
##############################
.env.local
.env.dev
.env.test
config/secrets/*/private.key
config/secrets/*/private.pem

##############################
# DOCKER (uniquement local)
##############################
docker-compose.yml
docker-compose.override.yml
docker/
.docker/
*.dockerfile
*.Dockerfile
docker-compose*.yaml
docker-compose*.yml
docker-compose.prod.yml

##############################
# SYMFONY / PHP
##############################
laundrymap-back/var/
laundrymap-back/.env.local
laundrymap-back/vendor/
/var/
/vendor/
/public/bundles/
/public/build/
/public/uploads/
/public/media/
/public/storage/
/var/cache/
/var/log/
.phpunit.result.cache

# Fichiers de config serveur — ne jamais écraser
laundrymap-back/config/bundles.php
deploy.sh

##############################
# NODE / REACT
##############################
laundrymap-front/dist/
laundrymap-front/node_modules/
laundrymap-front/.env.local
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
.pnpm-debug.log
/build/
/dist/

##############################
# EDITORS & SYSTEM FILES
##############################
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

##############################
# MISC
##############################
/coverage/
*.cache
